<h1>Hd wallet sample:</h1>

<div style="display:flex;flex-direction:column;">
  <button style="padding:10px" (click)="generateMnemonic()">Generate Mnemonic</button>

  <br>

  <div>Mnemonic:</div>
  <div id="qrcode" #qrcode></div>
  <textarea type="text" style="width:400px" [(ngModel)]="words"></textarea>

  <div>Password:</div>
  <input type="password" style="width:400px" [(ngModel)]="password">

  <!--
  <p>
    <button style="padding:10px" (click)="useMnemonic()">Use Mnemonic</button>
    <label>Password
      <input [(ngModel)]="passphrase">
    </label>
  </p>

  <textarea type="text" style="width:400px">{{seedHex}}</textarea>
  <br>
  -->

  <button style="padding:10px" (click)="generateKeyPairs()">Generate Keys</button>
  <table style="border:1px solid">

    <thead>
    <th>Symbol</th>
    <th></th>
    </thead>

    <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.label}}</td>
      <td>
        Address: <b>{{item.address}}</b>
        <br>
        Private Key: {{item.privateKey}}
        <br>
      </td>
    </tr>
    </tbody>

  </table>
</div>
