<div id="qrcode" #qrcode></div>
<a [href]="href" *ngIf="!(display)" (click)="downloadImage()" download>Download Image</a>

<form class="example-form"  *ngIf="display" [formGroup]="newAccountForm">
<h2>Создать аккаунт</h2>
<div>
    Вы получите QR Code с зашифрованными секретными ключами на Вашу почту.
    Только Вы сможете расшифровать QR Code Вашим паролем
</div>

  <section>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Введите корректный e-mail
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="">
    </mat-form-field>
  </section>

  <section>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" formControlName="password" value="">
    </mat-form-field>
  </section>

  <section>
    <mat-checkbox [color]="'primary'">
      I agree with the
      <strong>
        <a target="_blank" href="https://buttonwallet.com/tos">Terms of Service</a>
      </strong>
    </mat-checkbox>
  </section>

  <section>
    <mat-checkbox>
      I agree with the
      <strong>
        <a target="_blank" href="https://buttonwallet.com/pp">Privacy Policy</a>
      </strong>
    </mat-checkbox>
  </section>

  <section>
    <mat-slide-toggle [color]="'primary'" [checked]="checked">
      Send QR code to my email
    </mat-slide-toggle>
  </section>
    <button mat-raised-button color="primary" (click)="createNewAccount()">Continue</button>
</form>
