<app-render-qr-code [hidden]="isQrCodeHidden"></app-render-qr-code>
<form class="example-form" [hidden]="!isQrCodeHidden" [formGroup]="importFormControl">
  <h1>
    Import by mnemonic
  </h1>
  <label>
    <input matInput placeholder="Mnemonic" formControlName="mnemonic">
  </label>
  <br>
  <label>
    <input matInput placeholder="Password" type="password" formControlName="password">
  </label>
  <br>
  <button (click)="importByMnemonic()">Import</button>
  <h1>
    Import by QR code
  </h1>
  <br>
  <label>
    <input matInput placeholder="Password" type="password" formControlName="password_second">
  </label>
  <br>
  <app-upload-qr-code (messageEvent)="importByQR($event)"></app-upload-qr-code>
</form>
