<div id="qrcode" #qrcode></div>
<a [href]="href" *ngIf="!(display)" (click)="downloadImage()" download>Download Image</a>
<form class="example-form" *ngIf="display" [formGroup]="importFormControl">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Mnemonic" formControlName="mnemonic">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field>
  <br>
  <button (click)="importByMnemonic()">Import</button>
</form>
