<h1 i18n="@@TranslationTagForTesting">App component</h1>

<button routerLink="/wallet">Wallet</button>
<button routerLink="/account">Account</button>
<button routerLink="/wyre">Wyre</button>

<button routerLink="/xlm">XLM</button>
<button routerLink="/waves">Waves</button>
<button routerLink="/btc">Bitcoin</button>
<button routerLink="/bch">BitcoinCash</button>
<button routerLink="/ltc">Litecoin</button>
<button routerLink="/eth">Ethereum</button>
<button routerLink="/etc">EthereumClassic</button>

<button routerLink="">Home</button>


<!-- Выровнять по центру сделать SEND -->
<div style="border: 1px solid;padding:10px">
  <router-outlet></router-outlet>
</div>
