<div *ngIf="notification && showNotification"
     (click)="showNotification = !showNotification">
  <p>{{ notification }}</p>
</div>

<h1 i18n="@@TranslationTagForTesting">App component</h1>

<button routerLink="/wallet">Wallet</button>
<button routerLink="/account">Account</button>

<button routerLink="/send/xlm">XLM</button>
<button routerLink="/send/waves">Waves</button>
<button routerLink="/send/btc">Bitcoin</button>
<button routerLink="/send/bch">BitcoinCash</button>
<button routerLink="/send/ltc">Litecoin</button>
<button routerLink="/send/eth">Ethereum</button>
<button routerLink="/send/etc">EthereumClassic</button>
<button routerLink="/send/ton">TON</button>

<button routerLink="">Home</button>


<!-- Выровнять по центру сделать SEND -->
<div style="border: 1px solid;padding:10px">
  <router-outlet></router-outlet>
</div>
