//:root {
//  /* Colors*/
//
//  --set-color-white: #ffffff;
//  --set-color-black: #000000;
//
//  /* Gray*/
//  --set-color-gray-0: #f9f9fa;
//  --set-color-gray-5: #f0f0f1;
//  --set-color-gray-10: #e1e1e3;
//  --set-color-gray-20: #d2d2d6;
//  --set-color-gray-30: #b4b4bb;
//  --set-color-gray-40: #9696a0;
//  --set-color-gray-50: #787885;
//  --set-color-gray-60: #5a5b6a;
//  --set-color-gray-70: #4a4b57;
//  --set-color-gray-80: #3a3a44;
//  --set-color-gray-90: #292a31;
//  --set-color-gray-100: #19191d;
//
//  /* Blue*/
//  --set-color-blue-5: #ebf2ff;
//  --set-color-blue-10: #d8e6ff;
//  --set-color-blue-20: #c4daff;
//  --set-color-blue-30: #9dc2ff;
//  --set-color-blue-40: #76a9ff;
//  --set-color-blue-50: #4f91ff;
//  --set-color-blue-60: #2979ff;
//  --set-color-blue-70: #2264d1;
//  --set-color-blue-80: #1b4ea3;
//  --set-color-blue-90: #133774;
//  --set-color-blue-100: #0c2146;
//
//  /* Green*/
//  --set-color-green-5: #edf6ee;
//  --set-color-green-10: #dceddd;
//  --set-color-green-20: #cbe5cc;
//  --set-color-green-30: #a9d3ab;
//  --set-color-green-40: #87c289;
//  --set-color-green-50: #65b168;
//  --set-color-green-60: #43a047;
//  --set-color-green-70: #37833b;
//  --set-color-green-80: #2b662e;
//  --set-color-green-90: #1f4921;
//  --set-color-green-100: #132c14;
//
//  /* Yellow*/
//  --set-color-yellow-5: #fff8ea;
//  --set-color-yellow-10: #fff1d6;
//  --set-color-yellow-20: #ffeac1;
//  --set-color-yellow-30: #ffdc99;
//  --set-color-yellow-40: #ffcf70;
//  --set-color-yellow-50: #ffc147;
//  --set-color-yellow-60: #ffb41f;
//  --set-color-yellow-70: #d1941a;
//  --set-color-yellow-80: #a37314;
//  --set-color-yellow-90: #74520f;
//  --set-color-yellow-100: #463209;
//
//  /* Red*/
//  --set-color-red-5: #feedec;
//  --set-color-red-10: #fddcda;
//  --set-color-red-20: #fccbc8;
//  --set-color-red-30: #faa9a3;
//  --set-color-red-40: #f8877f;
//  --set-color-red-50: #f6655a;
//  --set-color-red-60: #f44336;
//  --set-color-red-70: #c8372d;
//  --set-color-red-80: #9c2b23;
//  --set-color-red-90: #6f1f19;
//  --set-color-red-100: #43130f;
//
//  /* Indigo*/
//  --set-color-indigo-5: #f0f1f9;
//  --set-color-indigo-10: #e1e4f3;
//  --set-color-indigo-20: #d2d6ed;
//  --set-color-indigo-30: #b4bbe2;
//  --set-color-indigo-40: #97a0d6;
//  --set-color-indigo-50: #7985cb;
//  --set-color-indigo-60: #5c6bc0;
//  --set-color-indigo-70: #4c589e;
//  --set-color-indigo-80: #3b457b;
//  --set-color-indigo-90: #2a3158;
//  --set-color-indigo-100: #1a1e35;
//
//  /* Teal*/
//  --set-color-teal-5: #e8f5f5;
//  --set-color-teal-10: #d1ebec;
//  --set-color-teal-20: #bbe2e2;
//  --set-color-teal-30: #8dcfcf;
//  --set-color-teal-40: #60bcbc;
//  --set-color-teal-50: #33a9a9;
//  --set-color-teal-60: #069697;
//  --set-color-teal-70: #057b7c;
//  --set-color-teal-80: #046061;
//  --set-color-teal-90: #034545;
//  --set-color-teal-100: #02292a;
//
//  /* Orange*/
//  --set-color-orange-5: #fef3e7;
//  --set-color-orange-10: #fee8d0;
//  --set-color-orange-20: #fddcb9;
//  --set-color-orange-30: #fdc68b;
//  --set-color-orange-40: #fcaf5c;
//  --set-color-orange-50: #fb982e;
//  --set-color-orange-60: #fb8200;
//  --set-color-orange-70: #ce6b00;
//  --set-color-orange-80: #a05300;
//  --set-color-orange-90: #733c00;
//  --set-color-orange-100: #452400;
//
//  /* Pink*/
//  --set-color-pink-5: #fdedf2;
//  --set-color-pink-10: #fbdce6;
//  --set-color-pink-20: #f9cada;
//  --set-color-pink-30: #f6a8c2;
//  --set-color-pink-40: #f285aa;
//  --set-color-pink-50: #ef6292;
//  --set-color-pink-60: #ec407a;
//  --set-color-pink-70: #c23564;
//  --set-color-pink-80: #97294e;
//  --set-color-pink-90: #6c1e38;
//  --set-color-pink-100: #411222;
//
//  /* Gradients*/
//  --set-gradient-black: linear-gradient(
//      90deg,
//      var(--set-color-gray-40),
//      var(--set-color-gray-60)
//  );
//
//  --set-gradient-blue-indigo: linear-gradient(
//      90deg,
//      var(--set-color-blue-60),
//      var(--set-color-indigo-70)
//  );
//
//  --set-gradient-green-teal: linear-gradient(
//      90deg,
//      var(--set-color-green-60),
//      var(--set-color-teal-70)
//  );
//
//  --set-gradient-red-pink: linear-gradient(
//      90deg,
//      var(--set-color-red-60),
//      var(--set-color-pink-70)
//  );
//
//  --set-gradient-yellow-orange: linear-gradient(
//      90deg,
//      var(--set-color-yellow-60),
//      var(--set-color-orange-70)
//  );
//
//  --set-gradient-light-black: linear-gradient(
//      90deg,
//      var(--set-color-gray-10),
//      var(--set-color-gray-30)
//  );
//
//  --set-gradient-light-blue-indigo: linear-gradient(
//      90deg,
//      var(--set-color-blue-10),
//      var(--set-color-indigo-30)
//  );
//
//  --set-gradient-light-green-teal: linear-gradient(
//      90deg,
//      var(--set-color-green-10),
//      var(--set-color-teal-30)
//  );
//
//  --set-gradient-light-red-pink: linear-gradient(
//      90deg,
//      var(--set-color-red-10),
//      var(--set-color-pink-30)
//  );
//
//  --set-gradient-light-yellow-orange: linear-gradient(
//      90deg,
//      var(--set-color-yellow-10),
//      var(--set-color-orange-30)
//  );
//
//  --set-gradient-reverse-black: linear-gradient(
//      90deg,
//      var(--set-color-gray-60),
//      var(--set-color-gray-40)
//  );
//
//  --set-gradient-reverse-blue-indigo: linear-gradient(
//      90deg,
//      var(--set-color-indigo-70),
//      var(--set-color-blue-60)
//  );
//
//  --set-gradient-reverse-green-teal: linear-gradient(
//      90deg,
//      var(--set-color-teal-70),
//      var(--set-color-green-60)
//  );
//
//  --set-gradient-reverse-red-pink: linear-gradient(
//      90deg,
//      var(--set-color-pink-70),
//      var(--set-color-red-60)
//  );
//
//  --set-gradient-reverse-yellow-orange: linear-gradient(
//      90deg,
//      var(--set-color-orange-70),
//      var(--set-color-yellow-60)
//  );
//
//  --set-gradient-light-reverse-black: linear-gradient(
//      90deg,
//      var(--set-color-gray-30),
//      var(--set-color-gray-10)
//  );
//
//  --set-gradient-light-reverse-blue-indigo: linear-gradient(
//      90deg,
//      var(--set-color-indigo-30),
//      var(--set-color-blue-10)
//  );
//
//  --set-gradient-light-reverse-green-teal: linear-gradient(
//      90deg,
//      var(--set-color-teal-30),
//      var(--set-color-green-10)
//  );
//
//  --set-gradient-light-reverse-red-pink: linear-gradient(
//      90deg,
//      var(--set-color-pink-30),
//      var(--set-color-red-10)
//  );
//
//  --set-gradient-light-reverse-yellow-orange: linear-gradient(
//      90deg,
//      var(--set-color-orange-30),
//      var(--set-color-yellow-10)
//  );
//
//  /* Typography*/
//  --set-baseline-rem: 24px;
//  --set-base-font-size: 0.66666667rem;
//  --set-base-color: var(--set-color-inverse);
//  --set-font-family-base: 'Roboto', sans-serif;
//  --set-font-family-headers: 'Quicksand', sans-serif;
//
//  --set-h1-color: var(--set-base-color);
//  --set-h2-color: var(--set-base-color);
//  --set-h3-color: var(--set-base-color);
//  --set-h4-color: var(--set-base-color);
//  --set-h5-color: var(--set-base-color);
//  --set-h6-color: var(--set-base-color);
//
//  --set-h1-font-weight: 600;
//  --set-h2-font-weight: 600;
//  --set-h3-font-weight: 600;
//  --set-h4-font-weight: 600;
//  --set-h5-font-weight: 600;
//  --set-h6-font-weight: 500;
//
//  --set-h1-font-family: var(--set-font-family-headers);
//  --set-h2-font-family: var(--set-font-family-headers);
//  --set-h3-font-family: var(--set-font-family-headers);
//  --set-h4-font-family: var(--set-font-family-headers);
//  --set-h5-font-family: var(--set-font-family-headers);
//  --set-h6-font-family: var(--set-font-family-headers);
//
//  --set-h1-font-size: 4rem;
//  --set-h2-font-size: 2.5rem;
//  --set-h3-font-size: 2rem;
//  --set-h4-font-size: 1.4167rem;
//  --set-h5-font-size: 1rem;
//  --set-h6-font-size: 0.833333rem;
//
//  --set-h1-line-height: 4.66666667rem;
//  --set-h2-line-height: 3.33333333rem;
//  --set-h3-line-height: 2.33333333rem;
//  --set-h4-line-height: 1.83333333rem;
//  --set-h5-line-height: 1.5rem;
//  --set-h6-line-height: 1.33333333rem;
//
//  --set-h1-letter-spacing: -2.5px;
//  --set-h2-letter-spacing: -1.5px;
//  --set-h3-letter-spacing: -0.5px;
//  --set-h4-letter-spacing: 0;
//  --set-h5-letter-spacing: 0;
//  --set-h6-letter-spacing: 0.15px;
//
//  --set-p-color: var(--set-base-color);
//  --set-p-font-weight: normal;
//  --set-p-font-size: var(--set-base-font-size);
//  --set-p-line-height: 1rem;
//  --set-p-letter-spacing: 0.44px;
//
//  /* Dense radio*/
//  --set-dense-radio-circle: 0.6666667rem;
//}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-green);
$app-accent: mat-palette($mat-deep-orange, A200, A100, A400);


// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($app-theme);

$theme: $app-theme;

@include mat-core-theme($theme);
//@include mat-autocomplete-theme($theme);
//@include mat-badge-theme($theme);
//@include mat-bottom-sheet-theme($theme);
@include mat-button-theme($theme);
//@include mat-button-toggle-theme($theme);
//@include mat-card-theme($theme);

//@include mat-checkbox-theme($theme);
@mixin my-mat-checkbox-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  // The color of the checkbox's checkmark / mixedmark.
  $checkbox-mark-color: mat-color($background, background);

  // NOTE(traviskaufman): While the spec calls for translucent blacks/whites for disabled colors,
  // this does not work well with elements layered on top of one another. To get around this we
  // blend the colors together based on the base color and the theme background.
  //$white-30pct-opacity-on-dark: #686868;
  //$black-26pct-opacity-on-light: #b0b0b0;
  //$disabled-color: if($is-dark-theme, $white-30pct-opacity-on-dark, $black-26pct-opacity-on-light);

  .mat-checkbox-frame {
    // border-radius: 10px;
    border-color: rgb(0,0,0); //mat-color($foreground, secondary-text);
    border-width: 1px !important;
  }

  .mat-checkbox-checkmark {
    fill: $checkbox-mark-color;
  }

  .mat-checkbox-checkmark-path {
    // !important is needed here because a stroke must be set as an
    // attribute on the SVG in order for line animation to work properly.
    stroke: green !important; //#000 !important;

    @include cdk-high-contrast(black-on-white) {
      // Having the one above be !important ends up overriding the browser's automatic
      // color inversion so we need to re-invert it ourselves for black-on-white.
      stroke: red !important//#000 !important;
    }
  }

  .mat-checkbox-mixedmark {
    background-color: $checkbox-mark-color;
  }

  .mat-checkbox-indeterminate, .mat-checkbox-checked {
    &.mat-primary .mat-checkbox-background {
      // background-color: mat-color($primary);
    }

    &.mat-accent .mat-checkbox-background {
      // background-color: mat-color($accent);
      // background-color: rgb(255,255,255);
    }

    &.mat-warn .mat-checkbox-background {
      background-color: mat-color($warn);
    }
  }

  //.mat-checkbox-disabled {
  //  &.mat-checkbox-checked,
  //  &.mat-checkbox-indeterminate {
  //    .mat-checkbox-background {
  //      background-color: $disabled-color;
  //    }
  //  }
  //
  //  //&:not(.mat-checkbox-checked) {
  //  //  .mat-checkbox-frame {
  //  //    border-color: $disabled-color;
  //  //  }
  //  //}
  //
  //  .mat-checkbox-label {
  //    color: mat-color($foreground, secondary-text);
  //  }
  //
  //  @include cdk-high-contrast {
  //    opacity: 0.5;
  //  }
  //}

  // This one is moved down here so it can target both
  // the theme colors and the disabled state.
  @include cdk-high-contrast {
    .mat-checkbox-background {
      // Needs to be removed because it hides the checkbox outline.
      background: none;
    }
  }

  // Switch this to a solid color since we're using `opacity`
  // to control how opaque the ripple should be.
  .mat-checkbox .mat-ripple-element {
    background-color: map_get(map-get($theme, foreground), base);
  }

  .mat-checkbox-checked:not(.mat-checkbox-disabled),
  .mat-checkbox:active:not(.mat-checkbox-disabled) {
    &.mat-primary .mat-ripple-element {
      background: mat-color($primary);
    }

    &.mat-accent .mat-ripple-element {
      background: mat-color($accent);
    }

    &.mat-warn .mat-ripple-element {
      background: mat-color($warn);
    }
  }
}

@include my-mat-checkbox-theme($theme);

//@include mat-chips-theme($theme);
//@include mat-table-theme($theme);
//@include mat-datepicker-theme($theme);
//@include mat-dialog-theme($theme);
//@include mat-divider-theme($theme);
//@include mat-expansion-panel-theme($theme);
@include mat-form-field-theme($theme);
//@include mat-grid-list-theme($theme);
//@include mat-icon-theme($theme);
@include mat-input-theme($theme);
//@include mat-list-theme($theme);
//@include mat-menu-theme($theme);
//@include mat-paginator-theme($theme);
//@include mat-progress-bar-theme($theme);
//@include mat-progress-spinner-theme($theme);
//@include mat-radio-theme($theme);
//@include mat-select-theme($theme);
//@include mat-sidenav-theme($theme);
@include mat-slide-toggle-theme($theme);
@include mat-slider-theme($theme);
//@include mat-stepper-theme($theme);
//@include mat-sort-theme($theme);
//@include mat-tabs-theme($theme);
//@include mat-toolbar-theme($theme);
//@include mat-tooltip-theme($theme);
//@include mat-tree-theme($theme);
//@include mat-snack-bar-theme($theme);

.mat-checkbox-inner-container {
  width: 24px !important;
  height: 24px !important;
}

.mat-checkbox-frame {

}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
  border: 1px solid #8d299e;
}

.mat-form-field-label {
  // display: none !important;
}

